ul.blog_types{
    list-style-type: none;
}

ul.blog_info{
    list-style-type: none;
}

ul.blog-info li{
    display: inline;
    margin-right: 2em;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.blog p.blog-info{
    margin-bottom: 0;
}

div.blog-content {
    text-indent: 2em;
}

div.comment-area {
    margin-top: 2em;
}

h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}